// Equivalent to: .nav.nav-pills
// Including in a mixin because otherwise it overrides nav styles everywhere when tranzito_utils.css is imported
@mixin bootstrap-nav-pills {
  //
  // .nav
  //
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  //
  // .nav-pills
  //
  .nav-link {
    @include border-radius($nav-pills-border-radius);
  }

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
}

// Equivalent to .col-12
@mixin bootstrap-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

// ^ Bootstrap styles that are imported as mixins to avoid polluting general styles

.admin-header {
  @include clearfix;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #bdbdbd;

  .btn {
    @extend .header-sublink;
  }

  h1 {
    font-size: 2rem;
    @include media-breakpoint-up(md) {
      .btn {
        line-height: 2; // align floating buttons with the h1 tag
      }
    }
  }
  h1,
  h2,
  h3 {
    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }
  ul {
    @include bootstrap-nav-pills;
    justify-content: flex-end;

    // On small screens, make nav links align left
    @include media-breakpoint-down(sm) {
      justify-content: normal !important;
    }
  }
  .nav-item {
    @extend .small;
    margin-left: 0.25rem;
    a,
    .button_to .btn {
      padding: 0.25rem 0.5rem;
    }
  }
  .subtitle {
    @include bootstrap-col-12;
    margin-top: 1.5rem !important;
  }
}

.header-link {
  color: $text-color;
  text-decoration: underline;
}

// Because we want it to break on small screens
.header-sublink {
  @include media-breakpoint-up(md) {
    float: right;
  }
}

// Because otherwise they overflow the right side of the screen
.right-dropdown-overflown {
  .dropdown-menu.show {
    left: -75% !important;
  }
}

.right-dropdown-overflown-lg {
  @include media-breakpoint-up(lg) {
    .dropdown-menu.show {
      left: -75%;
    }
  }
}
