.flash-alert-container
  - if flash.present?
    - flash.each do |type, message|
      - next unless message.present?
      .alert.alert-dismissible.fade.show{class: "alert-#{type}"}
        %button.btn-close{"data-dismiss" => "alert", "aria-label" => "Close"}
        = message
        - if flash[:link]
          %br
          link: #{link_to flash[:link], flash[:link]}
