- skip_submission ||= false
- include_future ||= false
- prepend_text ||= nil
- dropdown ||= false

- if dropdown
  = render 'tranzito_utils/period_select_dropdown'
- else
  = render 'tranzito_utils/period_select_list', skip_submission: skip_submission, include_future: include_future, prepend_text: prepend_text
