.less-strong, table .less-strong-right, .less-less-strong {
  opacity: 0.65;
}
.less-strong a:hover, table .less-strong-right a:hover, .less-less-strong a:hover, .less-strong + a:hover, table .less-strong-right + a:hover, .less-less-strong + a:hover,
.less-strong .btn:hover,
table .less-strong-right .btn:hover,
.less-less-strong .btn:hover, .less-strong.btn:hover, table .btn.less-strong-right:hover, .btn.less-less-strong:hover,
.less-strong .btn:focus,
table .less-strong-right .btn:focus,
.less-less-strong .btn:focus, .less-strong.btn:focus, table .btn.less-strong-right:focus, .btn.less-less-strong:focus,
.less-strong .form-control:hover,
table .less-strong-right .form-control:hover,
.less-less-strong .form-control:hover, .less-strong.form-control:hover, table .form-control.less-strong-right:hover, .form-control.less-less-strong:hover,
.less-strong .form-control:focus,
table .less-strong-right .form-control:focus,
.less-less-strong .form-control:focus, .less-strong.form-control:focus, table .form-control.less-strong-right:focus, .form-control.less-less-strong:focus {
  opacity: 1;
}

.less-less-strong {
  opacity: 0.3;
}

.gray-link a, .gray-link {
  color: #6c757d !important;
  opacity: 0.65;
  text-decoration: underline;
}
.gray-link:hover, .gray-link:active, .gray-link.active {
  opacity: 0.9;
}

label,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

.em {
  font-style: italic;
}

@media (max-width: 767.98px) {
  .hidden-sm-down {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .hidden-xs-down {
    display: none;
  }
}

.convertedTime {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}

.uuid-display {
  white-space: nowrap;
}

.overflow-scroll {
  overflow: scroll;
}

.text-color-link {
  color: #212529;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.pagination-container {
  margin: 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.pagination-container .pagination-flex {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.65;
}
.pagination-container .pagination-flex .pagination {
  margin: 0.5rem 0.5rem 0 0;
}
.pagination-container .pagination-flex.pagination-sm a.page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.pagination-container .pagination-flex .pagination-number,
.pagination-container .pagination-flex .per-page {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  margin-top: 0.5rem;
}
.pagination-container .pagination-flex .per-page {
  min-width: 9rem;
  max-width: 9rem;
}
.pagination-container .pagination-flex .pagination-number {
  margin-left: 0.5rem;
}
.pagination-container .pagination-flex .per-page-select {
  margin-top: 0.5rem;
  width: 8rem;
  display: inline-block;
}
.pagination-container .pagination-number {
  margin: 1rem 0 0;
}

#timeSelectionBtnGroup .period-select-standard {
  transition: opacity 0.5s ease-in-out;
}
#timeSelectionBtnGroup.custom-period-selected .period-select-standard {
  opacity: 0.6;
}

.custom-time-selection {
  justify-content: flex-end;
}
.custom-time-selection .form-group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}
.custom-time-selection label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.custom-time-selection .form-control {
  display: inline-block;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
.custom-time-selection #updatePeriodSelectCustom {
  margin-right: 15px;
}
.custom-time-selection .end-time-control {
  margin-left: 0;
}
@media (max-width: 767.98px) {
  .custom-time-selection {
    justify-content: flex-start;
  }
  .custom-time-selection .form-group {
    margin-top: 8px;
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    padding-left: 15px;
  }
  .custom-time-selection .end-time-control {
    margin-left: 0;
  }
}

.full-screen-table-overflown {
  overflow-x: scroll;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 767.98px) {
  .full-screen-table {
    overflow-x: scroll;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.full-screen-table td ul {
  padding: 0 0 0 1.5rem;
  margin: 0.5rem 0 0.5rem;
}
.full-screen-table .dropdown-toggle {
  font-weight: normal;
}
.full-screen-table .dropdown-toggle:active, .full-screen-table .dropdown-toggle.active {
  font-weight: bold;
  text-decoration: underline;
}

.table-list {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border: 1px solid #dee2e6;
}
.table-list th,
.table-list td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table-list thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-list tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.table-list th,
.table-list td {
  padding: 0.3rem;
}
.table-list th,
.table-list td {
  border: 1px solid #dee2e6;
}
.table-list thead th,
.table-list thead td {
  border-bottom-width: 2px;
}
.table-list tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-list tr td {
  line-height: 1.5;
}
.table-list tr td:first-child {
  font-size: 75%;
  font-style: italic;
  text-align: right;
  padding: 9px 4px 4px;
  line-height: 1.25;
}
.table-list tr td:first-child.full-width-data {
  font-size: 100%;
  font-style: normal;
  text-align: left;
}
.table-list tr td:last-child {
  width: 85%;
}
.table-list tr.active-row {
  background-color: #ebf5fb !important;
}
.table-list tr.active-row a {
  text-decoration: underline;
}
.table-list.wide-definition tr td:last-child {
  width: 70%;
}
.table-list .inline-images img {
  display: inline-block;
  width: 31%;
  max-width: 150px;
  margin-right: 3%;
}

table thead.sortable th {
  font-weight: normal;
}
table thead.sortable th a.sortable-link {
  display: block;
  position: relative;
}
table thead.sortable th a.sortable-link.active {
  padding-right: 1.5rem;
}
table thead.sortable th a.sortable-link span.sortable-direction {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
table thead.sortable th a.sortable-link.active {
  font-weight: strong;
  text-decoration: underline;
}

.code-small pre, table .data-cell.only-data pre {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.code-small code, table .data-cell.only-data code {
  position: relative;
}

table .table-cell-check {
  font-family: Courier;
  text-align: center;
  font-weight: bold;
}
table code {
  word-break: break-all;
}
table code.no-break {
  word-break: normal;
}
table .data-cell pre {
  padding: 0.25rem 0.5rem;
  margin: 0 0 0.5rem;
}
table .data-cell.only-data {
  padding: 0;
}
table .data-cell.only-data pre {
  background: none;
}
table .data-cell.small, table .admin-header .data-cell.nav-item, .admin-header table .data-cell.nav-item {
  padding: 0;
}
table .data-cell.small pre, table .admin-header .data-cell.nav-item pre, .admin-header table .data-cell.nav-item pre {
  border: none;
  font-size: 80%;
  margin: 0;
}
table .less-strong-hold {
  position: relative;
  min-height: 1.25em;
}
table .less-strong-right {
  position: absolute;
  right: -0.3em;
  line-height: 1;
  bottom: -0.2em;
  font-size: 0.8em;
}
table .photo-cell {
  text-align: center;
}
table .photo-cell img {
  max-width: 150px;
}

.admin-header {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #bdbdbd;
}
.admin-header::after {
  display: block;
  clear: both;
  content: "";
}
.admin-header h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .admin-header h1 .btn {
    line-height: 2;
  }
}
@media (max-width: 767.98px) {
  .admin-header h1,
.admin-header h2,
.admin-header h3 {
    font-size: 1.5rem;
  }
}
.admin-header ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: flex-end;
}
.admin-header ul .nav-link {
  border-radius: 0.25rem;
}
.admin-header ul .nav-link.active,
.admin-header ul .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}
@media (max-width: 767.98px) {
  .admin-header ul {
    justify-content: normal !important;
  }
}
.admin-header .nav-item {
  margin-left: 0.25rem;
}
.admin-header .nav-item a,
.admin-header .nav-item .button_to .btn {
  padding: 0.25rem 0.5rem;
}
.admin-header .subtitle {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 1.5rem !important;
}

.header-link {
  color: #212529;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .header-sublink, .admin-header .btn {
    float: right;
  }
}

.right-dropdown-overflown .dropdown-menu.show {
  left: -75% !important;
}

@media (min-width: 992px) {
  .right-dropdown-overflown-lg .dropdown-menu.show {
    left: -75%;
  }
}

.flash-alert-container {
  position: fixed;
  z-index: 1049;
  width: 90%;
  max-width: 500px;
  top: 48px;
  right: 48px;
}
.flash-alert-container .alert {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  margin-top: 10px;
}
.flash-alert-container .alert:first-of-type {
  margin-top: 0;
}
@media (max-width: 575.98px) {
  .flash-alert-container {
    right: 3%;
  }
}
